
<p id="notice"><%= notice %></p>

<div id='complogo'>
  <% @company.each do |company| %>
    <div id='avatar'>
      <%= link_to image_tag(company.avatar.url, id: "avatar-home"), company_path(company.id) %>
      <!-- company.company_name -->  
    </div>
  <% end %>  
</div>



