<div id='newpage'>
    <nav class="navbar navbar-inverse navbar-fixed-top" id='nav-comp'>
      <div class="container-fluid">  
          <a class="nav navbar-brand navbar-left" >New Equipment</a>
          <ul class="navbar-brand navbar-right" id='user-status'>
            <%= link_to 'Back', equipment_index_path %>
          </ul>
      </div>
    </nav>

    
    <div id='new'>
        <%= render 'form' %>
    </div>
</div>



